# Database
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=agropulse
POSTGRES_URL=postgres://postgres:password@db:5432/agropulse

# API
PORT=3000
NODE_ENV=production
JWT_SECRET=your_jwt_secret_here

# Redis
REDIS_URL=redis://redis:6379

# Frontend
VITE_API_URL=/api
